# kubectl create secret tls tls-secret --cert=data/cert/xxx.com/cert.pem --key=data/cert/xxx.com/key.pem
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: global
data:
  timezone: Etc/UTC

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: global
  namespace: kube-system
data:
  timezone: Etc/UTC
  notify-tg-token: 0123456789:AAxxxx

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: proxy-config
data:
  config.yaml: |
    debug: true
    project_name: VPN会员系统
    gin_addr: :80
    domain: https://www.domain.com
    clash_path: clash.yaml
    static_dir: static
    gin_log_path: log/gin.log
    run_log_path: log/run.log
    tz: Asia/Shanghai
    database:
      type: sqlite
      sqlite_path: "proxy.db"
      mysql_host: ""
      mysql_port: 3306
      mysql_dbname: ""
      mysql_username: ""
      mysql_password: ""
    telegram:
      token: "0123456789:AAxxxx"
      id: 123456789
    cors:
      - "*"
    proxy:
      - type: vless
        server: www.domain.com
        port: 443
        uuid: xxxx
        flow: xtls-rprx-vision
        network: tcp
        reality-opts:
          public-key: xxxx
          short-id: ""
        root: true
      - type: vless
        server: x.x.x.x
        port: 443
        uuid: xxxx
        network: ws
        ws-opts:
          path: /vless-ws
          headers:
            host: www.domain.com
      - type: trojan
        server: www.domain.com
        port: 443
        uuid: password
        network: ws
        ws-opts:
          path: /trojan-go-ws/
          headers:
            host: www.domain.com

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frp
data:
  frps.toml: |
    bindPort = 443
    tcpmuxHTTPConnectPort = 22
    auth.token = "123456"

---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  root-pwd: xxx #使用:  echo -n 'root' | base64

---
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard
data:
  users: |2 #userName:pwd
    xxx
---
apiVersion: v1
kind: Secret
metadata:
  name: tls-secret
type: kubernetes.io/tls
data:
  tls.crt: |
    xxx
  tls.key: |
    xxx

---
apiVersion: v1
kind: Secret
metadata:
  name: bw
stringData:
  admin-token: xxx

---
#查找dest的ip网站: https://bgp.tools; 需要h2 + tls1.3; 非套cf(域名后加/cdn-cgi/trace判断)
apiVersion: v1
kind: ConfigMap
metadata:
  name: xray-cm
data:
  config.json: |
    {
      "log": {
        "loglevel": "warning",
        "error": "/var/log/xray/error.log",
        "access": "/var/log/xray/access.log"
      },
      "routing": {
        "domainStrategy": "IPIfNonMatch",
        "rules": [
          {
            "type": "field",
            "ip": ["geoip:cn"],
            "outboundTag": "block"
          }
        ]
      },
      "inbounds": [
        {
          "port": 443,
          "protocol": "vless",
          "settings": {
            "clients": [
              {
                "id": "xxx-xxx-xxx-xxx-xxx",
                "flow": "xtls-rprx-vision"
              }
            ],
            "decryption": "none"
          },
          "streamSettings": {
            "network": "tcp",
            "security": "reality",
            "realitySettings": {
              "show": false,
              "dest": "www.tesla.com:443",
              "serverNames": ["my.com", "www.tesla.com"],
              "privateKey": "xxxxx",
              "shortIds": [""]
            }
          },
          "sniffing": {
            "enabled": true,
            "destOverride": ["http", "tls", "quic"],
            "routeOnly": true
          }
        }
      ],
      "outbounds": [
        {
          "protocol": "freedom",
          "tag": "direct"
        },
        {
          "protocol": "blackhole",
          "tag": "block"
        }
      ],
      "policy": {
        "levels": {
          "0": {
            "handshake": 2,
            "connIdle": 120
          }
        }
      }
    }

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dating-config
data:
  config.yaml: |
    debug: false
    project_name: "我们何时见小程序api"
    gin_addr: ":80"
    domain: "https://www.domain.com"
    static_dir: "static"
    gin_log_path: "log/gin.log"
    run_log_path: "log/run.log"
    tz: "Asia/Shanghai"
    jwt_key: 123abc
    database:
      type: sqlite
      sqlite_path: "dating.db"
      mysql_host: ""
      mysql_port: 3306
      mysql_dbname: ""
      mysql_username: ""
      mysql_password: ""
    telegram:
      token: "0123456789:AAxxxx"
      id: 123456789
    weixin:
      xcx_appid: wxxxxx
      xcx_secret: wxxxxx
      gzh_appid: wxxxxx
      gzh_secret: wxxxxx
    cors:
      - "*"
