# ---
# apiVersion: v1
# kind: Namespace
# metadata:
#   name: dev

---
# 优先级
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: critical-pc
value: 1000000
globalDefault: false
description: "关键服务"

---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: normal-pc
value: 1000
globalDefault: true
description: "普通服务"

---
apiVersion: v1
kind: LimitRange
metadata:
  name: pod-resource-limits
  namespace: default
spec:
  limits:
    - type: Container
      # 默认请求值：新 Pod 不写 resources 时自动分配
      defaultRequest:
        memory: 32Mi
        cpu: 20m
      # 默认限制值
      default:
        memory: 128Mi
        cpu: 300m
      # 强制最小值：Pod 的配置必须 >= 此值
      min:
        memory: 16Mi # 避免过小内存导致 Crash
        cpu: 10m
      # 强制最大值：Pod 的配置必须 <= 此值
      max:
        memory: 1024Mi # 单容器上限，防止单点故障
        cpu: 2000m # 单个容器最多使用的CPU核心数

---
# 命名空间总资源配额
apiVersion: v1
kind: ResourceQuota
metadata:
  name: default-resource-quota
  namespace: default
spec:
  hard:
    # 所有 Pod 保证得到的内存总和(最低留500m给系统和k3s)
    requests.memory: 1408Mi
    # 所有 Pod 保证得到的 CPU 总和 (约 100% 物理资源)
    requests.cpu: 1800m
    # 所有 Pod 最多能占用的内存总和(留500m给系统和k3s后,有Swap做垫底)
    limits.memory: 2048Mi
    # 所有 Pod 最多能抢占的 CPU 总和：(约 200%物理资源)
    limits.cpu: 3800m
    # 对持久卷声明(PVC)的数量和总容量进行限制
    persistentvolumeclaims: 8
    requests.storage: 8Gi

#Role============================================================begin

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: traefik-role
  annotations:
    meta.helm.sh/release-name: traefik
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/instance: traefik-kube-system
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: traefik
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - secrets
      - nodes
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - gateway.networking.k8s.io
    resources:
      - gatewayclasses
      - gateways
      - httproutes
      - tcproutes
      - tlsroutes
      - udproutes
      - grpcroutes
      - referencegrants
      - backendtlspolicies
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      - create
      - delete
  - apiGroups:
      - gateway.networking.k8s.io
    resources:
      - gatewayclasses/status
      - gateways/status
      - httproutes/status
      - tcproutes/status
      - tlsroutes/status
      - grpcroutes/status
      - udproutes/status
      - referencegrants/status
      - backendtlspolicies/status
    verbs:
      - update
      - patch
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses
      - ingressclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses/status
    verbs:
      - update
  - apiGroups:
      - traefik.io
      - traefik.containo.us
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
      - middlewares
      - middlewaretcps
      - tlsoptions
      - tlsstores
      - traefikservices
      - serverstransports
      - serverstransporttcps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gateway-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-role
subjects:
  - kind: ServiceAccount
    name: traefik
    namespace: kube-system
#Role============================================================end
